* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --white: #ffffff;
  --title-color: #091133;
  --text-color: #6f7cb2;
  --alt-text-color: #5d6970;
  --bg: #f3f6ff;
  --alt-bg: #e7ecff;
  --section-padding: 60px;
}
section {
  padding: var(--section-padding);
}
.container {
  padding: 30px 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  display: flex;
  justify-content: space-between;
}
header {
  position: sticky;
  top: 0;
  background-color: var(--text-color);
}
nav {
  z-index: 1;
}
ul {
  display: flex;
  gap: 30px;
}
a {
  text-decoration: none;
  color: var(--alt-text-color);
  font-size: 20px;
}
li {
  list-style: none;
}
input,
label {
  display: none;
}
@media (max-width: 991px) {
  input {
    display: none;
  }
  label {
    display: block;
  }
  ul {
    display: none;
    height: 200px;
    width: 100%;
  }
  nav {
    width: 10%;
  }
  li a {
    font-size: 20px;
    line-height: 50px;
  }
  #check:checked ~ ul {
    display: block;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    top: 100px;
    left: 150px;
    bottom: 120px;
    right: 0;
    position: fixed;
    display: flex;
    z-index: 1;
  }
  a {
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .but {
    position: relative;
    bottom: 350px;
  }
}
.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: start;
  gap: 20px;
}
h2 {
  color: var(--title-color);
  font-size: 50px;
}
h3 {
  color: var(--title-color);
  font-size: 30px;
}
p {
  color: var(--alt-text-color);
}
.introdce {
  flex: 1 1 300px;
  max-width: 600px;
}
.hero {
  flex: 1 1 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  text-align: end;
  margin: -60px -50px 0 0;
}
.hero img {
  max-width: 100%;
  height: auto;
}
.but {
  flex: 1 1 100%;
  display: flex;
  justify-content: start;
  gap: 15px;
}
.but button {
  padding: 10px;
  background-color: var(--title-color);
  color: var(--alt-bg);
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .introdce,
  .hero {
    flex: 1 1 100%;
    text-align: center; 
  }
}
